/.DS_Store
/1.docx
/1500.py
/2.docx
/25-nov
/25-nov.ipynb
/25novcleaning.ipynb
/26 nov.py
/26-nov.ipynb
/3.docx
/4.docx
/Data_Mavericks_finalproject.ipynb
/Final Project Proposal.docx
/Global-Terrorism-Patterns-Analysis.pptx
/Member 2.docx
/Slide 2.docx
/classification_reports.txt
/clean.csv
/cleandata.ipynb
/cleaned_data.csv
/cleaning.docx
/cleaning.ipynb
/filtered_data.csv
/final machine learnin.py
/final ml.ipynb
/final-Interactive-1.ipynb
/final-Interactive-2.ipynb
/final_cleaning.ipynb
/final_prosses.ipynb
/globalterrorism.xlsx
/globalterrorismdb_post2010.csv
/model_metrics.csv
/peresent.docx
/processed_cleaned_data.csv
/processed_with_feature_engineering.csv
/random_forest_model.pkl
/reduce.py
/sampled_dataset.csv
/scaler.pkl
/xgboost_model.pkl
/~$resent.docx
/~$ای هر 38 اسلاید توضیحات و متن سخنرانی آماده خواهد شد.docx
/برای هر 38 اسلاید توضیحات و متن سخنرانی آماده خواهد شد.docx